<div class="page-title" fxLayoutGap="10px" 
fxLayout="row" fxLayoutAlign="space-between stretch"
fxLayout-lt-md="column">
    <div>Booking</div>
    <div [ngClass.gt-xs]="{'text-right': true}">
        <a mat-flat-button class="button-blue" [routerLink] = "['/booking']">
            <mat-icon>add_circle</mat-icon>&nbsp; New Booking
        </a>
    </div>
</div>

<form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="w-100" floatLabel="never">
        <mat-label>Search</mat-label>
        <input type="search" matInput formControlName="search" (keyup)="filterBookings()">
        <mat-icon matPrefix>search</mat-icon>
        <mat-icon matSuffix class="hand=icon" (click)="clearFilter()">close</mat-icon>
    </mat-form-field>
</form>
<div class="table-container">
    <table mat-table class="w-100" [dataSource]="bookings" matSort>
        
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="masterToggle()" 
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [checked]="isAllSelected()"
                ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let booking">
                <mat-checkbox (change)="selection.toggle(booking)" [checked]="selection.isSelected(booking)"></mat-checkbox>
            </td>
             
             <td mat-footer-cell *matFooterCellDef colspan="1">
                <mat-icon matRipple class="hand-icon">menu</mat-icon>
            </td>  
        </ng-container>

        <ng-container matColumnDef="customerName" >
           <th mat-header-cell class="w-10"  mat-sort-header *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef ="let booking" class="w-15">{{booking.customerName}}</td>
            <td mat-footer-cell *matFooterCellDef colspan= "3" >Total Bookings</td>
          
        </ng-container>

        <ng-container matColumnDef="checkIn" >
            <th mat-header-cell  *matHeaderCellDef class="w-50">
                <div fxLayout="row" fxLayout="start center">
                    <div>
                        Check In   
                    </div>
                    <mat-icon>arrow_right_alt</mat-icon>
                    <div>Check Out</div>
                </div>                
            </th>
            <td mat-cell *matCellDef ="let booking" >
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        {{booking.checkIn | date : 'yyyy/MM/dd h:mm:ss a'}}
                    </div>
                    <mat-icon>arrow_right_alt</mat-icon>
                    <div>
                        {{booking.checkOut | date : 'yyyy//MM/dd h:mm:ss a'}}
                    </div>             
                    <button mat-stroked-button color="primary" class="ml" (click)="onChangeDatesClick(booking);">Change</button>
                </div>
            </td>
            
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell  *matHeaderCellDef>Payment Status</th>
            <td mat-cell *matCellDef ="let booking" class="w-10">{{booking.status}}</td>
            <td mat-footer-cell *matFooterCellDef colspan="5">{{rows.length}} Bookings</td> 
        </ng-container>

        <ng-container matColumnDef="roomType">
            <th mat-header-cell  *matHeaderCellDef>Room Type</th>
            <td mat-cell *matCellDef ="let booking" class="w-20">{{booking.roomType}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell  *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef ="let booking" class="w-30">{{booking.phone}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let booking" class="w-30"></td>
        </ng-container>

        <!-- loading columns -->
        <ng-container matColumnDef="loading">
            <td mat-footer-cell *matFooterCellDef colspan="10" class="text-center text-italic">
                <div [ngClass]="{'hidden': isError}">
                    <mat-spinner diamter ="40" class="margin-auto"></mat-spinner>
                    <div class="text-center">
                        {{bookingLoadingStatus}}
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Header row starts -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true" [ngClass]="{'hidden':!isLoadingCompleted}"></tr>
        <tr mat-row *matRowDef="let booking; columns:columnsToDisplay"></tr>
        <!-- footer row for loading -->
        <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hidden':isLoadingCompleted}"></tr>
        <!-- grand footer row starts -->
        <tr mat-footer-row *matFooterRowDef ="['select', 'customerName','status']; sticky:true" class="text-italic font-weight-bold" [ngClass]="{'hidden':!isLoadingCompleted}"></tr>
        <!-- grand footer row ends -->
        

    </table>
</div>
<div [ngClass]="{'hidden':!isLoadingCompleted}" class="table-paginator">
    <mat-paginator [pageSizeOptions]="[1,5,10,20]" pageSize="1" showFirstLastButtons></mat-paginator>
</div>